{% extends 'staff/base_staff.html' %}

{% load static %}

{% block title %}View Medications{% endblock %}

{% block bootstrap %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> {% endblock %}

{% block content %}

<br>
<h2 class="text-center">Medication Management</h2><br><hr><br>

<div class = "container">
    <div class="row">
        <div class="table">
            <table class="table table-dark table-bordered table-stripped table-responsive table-hover">
                <thead>
                    <tr>
                        <td>Medication #ID</td>
                        <td>Patient ID</td>
                        <td>Patient Full Name</td>
                        <td>Patient Username</td>
                        <td>Drug Prescription</td>
                        <td>Action</td>
                        <td>Action</td>
                        <td>Created</td>
                    </tr>
                </thead>
                <tbody>
                    {% for med in medications %}
                    <tr>
                        <td>{{med.id}}</td>
                        <td>{{med.patient_id.id}}</td>
                        <td>{{med.patient_id.first_name}} - {{med.patient_id.last_name}}</td>
                        <td>{{med.patient_id.username}}</td>
                        <td>{{med.drug_prescription}}</td>
                        <td><a class="btn btn-success btn-lg" type="button" href="{% url 'app:update-medication' med.id %}">Update Medication</a></td>
                        <td><a class="btn btn-danger btn-lg" type="button" href="{% url 'app:delete-medication' med.id%}">Delete Medication</a></td>
                        <td>{{med.created}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br><br><br><br><br>
{% endblock %}