{% extends 'admin/base_admin.html' %}
{% load static %}

{% block title %} admin coaches {% endblock %}

{% block content %}

<div class="form">
    <div class="form__container">
        <h1 class="form__heading">Coach Create</h1>
        <style>
            iframe {
            width: 1px;
            min-width: 100%;
            min-height: 700px;
            border: 0;
            }
            @media only screen and(max-width: 600px) {
            iframe {
            min-height: 1000px;
            }
            }
        </style>

        <form action="" class="form__form"  method="POST">
            {% csrf_token %}
            <div class="form__field form__field--text ">
                <label class="form__label" for="first_name">Coach First Name</label>
                <input class="form__input " id="first_name" name="first_name" type="text" required />
            </div>

            <div class="form__field form__field--text ">
                <label class="form__label" for="last_name">Coach Last Name</label>
                <input class="form__input " id="last_name" name="last_name" type="text" required />
            </div>

            <div class="form__field form__field--text ">
                <label class="form__label" for="address">Coach Address</label>
                <input class="form__input" id="address" name="address" type="text" required  />
            </div>
    

            <div class="form__field form__field--text ">
                <label class="form__label" for="mobile_number">Mobile number</label>
                <input class="form__input" id="mobile_number" name="mobile_number" type="text" required  />
            </div>


            <!-- <div class="form__field form__field--select ">
                <select class="form__select js-select" id="field_4" name="Are you a Places Gym member?"  required >
                    <option value="">Are you a Places Gym member?</option>
                    <option value="Yes" >Yes</option>
                    <option value="No" >No</option>
                </select>
            </div> -->

            <button class="button button--border button--large form__submit" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}