{% extends 'app/base.html' %}
{% load static %}

{% block title %} Coaches {% endblock %}

{% block content %}
<div class="banner banner-- js-carousel">
<div class="banner__slide banner__slide--picture" style="background:url('https://c8.alamy.com/comp/2AAKFB6/fit-woman-doing-curl-biceps-exercise-with-dumbbells-in-fitness-gym-center-female-athlete-training-with-her-personal-trainer-2AAKFB6.jpg');">
<div class="banner__container">
<span class="banner__surtitle"></span>
<span class="banner__title">Check Out Our Coaches</span>
<span class="banner__subtitle">Take a look below at our coaches</span>
</div>
</div>
</div>


<div class="page-wrap">
<div class="text-cols">
<div class="text-cols__container text-cols__container--title">
<h2 class="text-cols__title"> </h2>
<div class="text-cols__col">
<strong>Achieve more</strong>
Whatever your choice, we have a range of coaches to suit you.
</div>
</div>
</div>

<div class="membership">
    
<div class="membership__container">
    
<div class="membership__options">
{% for data in coaches %}
    <div class="membership__item">
    <div class="membership__option">
    <span class="membership__title">{{data.coach_firstname}} - {{data.coach_lastname}}</span>
    <span class="membership__details">• Address: {{data.coach_address}} • Mobile: {{data.coach_mobile}}</span>
    <span class="membership__price">{{data.date_created}}</span>
    </div>
    </div>
{% endfor %}
</div>
<a class="button membership__button" href="{% url 'app:join-route' %}">Join Now</a>
</div>
</div>
{% endblock %}