
<footer class="footer" role="contentinfo">

    <div class="footer__cols">

        <div class="footer__col">
            <span class="footer__title">Hospital Room Booking</span>
            <ul>
                <li>
                    <a href="#" title="Classes">About</a>
                </li>
                <li>
                    <a href="#" title="Contact us">Contact us</a>
                </li>
                <li>
                    <a href="#" title="Trainers">Staffs</a>
                </li>
            </ul>
        </div>

        <div class="footer__col footer__col--free">
            <span class="footer__title"></span>
            <div class="newsletter">
                <form action="#" class="form js-process-form newsletter__form" data-thanks="Thank you, You're now subscribed.">
                    <div class="form__field">
                        <label class="form__label" for="newsletter-email">Email Address</label>
                        <input class="form__input" type="email" name="email-address" id="email" required/>
                    </div>
                    <button class="newsletter__submit form__submit button button--small button--border">Submit</button>
                </form>
            </div>        
        </div>
    </div>
</footer>